* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #86e86b;
}

.container {
    display: grid;
    place-items: center;
}

.trafficlight {
    width: 85px;
    height: 220px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    background-color: #6c6969;
    padding: 10px;
}

.light-circle {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.3);
    position: relative;
}

.stick {
    width: 20px;
    height: 170px;
    margin-top: 5%;
    background-color: #6c6969;
}

.red-light {
    background-color: #ff0000;

}

.yellow-light {
    background-color: #f8e10a;

}

.green-light {
    background-color: #008000;

}

.glow-light {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(250, 247, 247, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(250, 247, 247, 0.9);
    box-shadow: 0px 0px 105px 45px rgba(250, 247, 247, 0.9);
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
